<!-- include a-frame -->
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
    
<!-- include ar.js for aframe -->
<!--script src='https://rawgit.com/jeromeetienne/ar.js/master/aframe/build/aframe-ar.js'></script-->

<script>
  ARjs.Context.baseURL = "../../../three.js/";
</script>
<!-- include aframe-portal-door -->
<script src="/aframe-portal-door.js"></script>
<script src="/threex-portal-door.js"></script>

<!-- start the body of your page -->
<body style="margin : 0px; overflow: hidden;">
  <!-- add some info at the top of the page -->
  <div
    style="position: fixed; top: 12px; width:100%; text-align: center; z-index: 1;"
  >
    
    <!-- 		<a href="https://github.com/jeromeetienne/AR.js/" target="_blank">AR.js</a> - Two-ways Portal 360 for a-frame by <a href='https://twitter.com/jerome_etienne' target='_blank'>@jerome_etienne</a> -->
  </div>

  <!-- Define your 3d scene and enabled ar.js -->
  <a-scene>
    <!-- Create a anchor to attach your augmented reality -->
    
      <!-- 			<a-portal-door url='https://cdn.glitch.com/013cb83e-f2d0-4acb-93f6-ea6ba9a8815a%2F360_topaz.png?1503647210601' position='0 0 0' scale='1 1 1' ><a-portal-door>
 -->
      <!-- 			portal 360 with an video   cant watch on android  -->
  
      <a-portal-door
        url="https://cdn.glitch.com/16cc2277-eb6d-496d-86c0-5ce04cac6e83%2F360_0129okpng.png?v=1629481459642"
        position="0 0 -2"
        scale="1 1 1"
        rotation="0 0 0"
      >
        <!-- 			<a-portal-door url='https://cdn.glitch.com/60b457b1-3992-4e36-bad8-5e583c0f86af%2Fclassroom.JPG?1537692405988' position='0 0 0' scale='1 1 1' rotation='0 90 0'><a-portal-door> -->
        <!--         <a-portal-door url='videos/aframe-city-360.mp4' position='0 0 0' scale='2 2 2' rotation='0 90 0'><a-portal-door>
 --></a-portal-door
      >
   <a-entity camera="active: true" look-controls wasd-controls position="0 1.6 0" ></a-entity>

    <!-- Define a static camera -->
    
  </a-scene>
</body>
